html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  background-image: url(/img/javascript-grande-horizontal-4k.png);
  background-size: 100%;
}
.ejercicio_back {
  width: auto;
  background-color: rgb(255, 255, 113);
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  color: #000;
  border: 0.50px solid #000;
  border-radius: 8px;
  padding: 20px;
  margin: 5%;
}
.ejercicio_back:hover {
  background-color: rgb(255, 255, 218);
  color: #ff0000;
}